body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: lightblue; 
    background: -webkit-linear-gradient(
      -220deg,
      lightblue,
      black
    ); 
    background: -o-linear-gradient(
      -260deg,
      lightblue,
      black
    );
    background: -moz-linear-gradient(
      -260deg,
      lightblue,
      black
    );
    background: linear-gradient(
        -260deg, lightblue, black);
  }
  
  .main {
    margin: 100px auto;
    text-align: center;
  }
  h1{
    text-align: center;
    background: lightblue;
    color: #fff;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 2.5rem;
  }
  h3{
    color: #fff;
  }
  h5{
    color: #fff;
  }
  button {
    padding: 20px;
    background: #fff;
    text-shadow: 1px 1px 1px #202020;
    font-family: "Lato", sans-serif;
    font-size: 18pt;
    border: 1px solid lightblue;
    border-radius: 5px;
    color: lightblue;
  }
  