.container {
    text-align: center;
  }
  .container h2 {
    background: #222;
    color: #fff;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 2.5rem;
  }
  main {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
  }
  span{
    padding: 10px;
    background: #fff;
    text-shadow: 1px 1px 1px #202020;
    font-family: "Lato", sans-serif;
    font-size: 18pt;
    border: 1px solid lightblue;
    border-radius: 5px;
    color: lightblue;
  }
  button 
  {
    padding: 10px;
    background: rgb(67, 178, 252);
    text-shadow: 1px 1px 1px #202020;
    font-family: "Lato", sans-serif;
    font-size: 12pt;
    border: 1px solid lightblue;
    border-radius: 50%;
    color: #f1f2f3;
  }
  